<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "投稿を書いてください" %>
  </div>
  <span class="image">
    <%= f.file_field :image %>
  </span>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
<% end %>